@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
@import url("https: //fonts.googleapis.com/css?family=Cinzel&display=swap");


.row,
.container-fluid,
.container {
    margin-left: 0px !important;
    margin-right: 0px !important;
}


[class*="col-"],
/* Elements whose class attribute begins with "col-" */
[class^="col-"] {
    /* Elements whose class attribute contains the substring "col-" */
    padding-left: 0;
    padding-right: 0;
}

.infoText {

    font-family: 'Cinzel';
    color: black;
}

body {
    font-family: 'Josefin Sans', cursive;
    background-color: #043f65;
    background-image: url("https://vignette.wikia.nocookie.net/wowwiki/images/e/ee/WoW_Companion_App_icon-Google_Play.png/revision/latest?cb=20180815210611");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.characterInfoBG {
    background-color: rgb(7, 54, 87, 0.575);
    border-radius: 25px;
    border-style: solid;
    border-width: 5px 0px 0px 5px;
    border-color: rgba(100, 94, 158, 0.575);
}

.titleText {
    color: gold;
}

.valueText {
    color: white;
}

.renderImg {
    height: 87.9vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
}